* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px 70px 10px 70px;
}

#nav {
    display: flex;
    width: 100%;
    height: 10%;

}

#nleft1 {
    font-size: 25px;
    width: 35%;
    height: 100%;
    padding: 20px;
}

#nleft1 h2 {
    color: rgb(116, 41, 201);
    font-weight: 400;
}

#nright1 {
    width: 65%;
    height: 100%;
    display: flex;
    font-size: 20px;
    color: white;
    gap: 50px;
    padding: 30px;

}

#nright1 a {
    color: white;
    text-decoration: none;

}

#nright1 i {
    padding: 6px;
}

#bottom1 {
    padding: 80px 20px;
    display: flex;
    width: 100%;
    height: 80%;
}

#left1 {
    width: 50%;
    height: 100%;
    top: 20%;
}

#left1 h1 {
    font-size: 70px;
    color: rgba(255, 255, 255, 0.728);
    line-height: 80px;
    font-weight: 600px;

}

#left1 h2 {
    font-size: 70px;
    color: rgba(207, 173, 246, 0.878);
    text-shadow: 5px 5px 10px rgb(116, 41, 201);
    line-height: 80px;
    font-weight: 600px;
}

#left1 p {
    color: rgba(255, 255, 255, 0.594);
    text-shadow: 5px 5px 15px rgb(129, 43, 226);
    font-size: 20px;
    padding: 20px 0px;
    font-weight: 900;
    letter-spacing: 2px;
}

#right1 {
    width: 50%;
    height: 100%;
    top: 20%;
}